Repository daksh7011/qbt-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: dependency, ci, commands

.github/labeler.yml:

# Note: Quotation marks are required for the leading asterisk

dependency:
  - changed-files:
      - any-glob-to-any-file: 'gradle/*.toml'

ci:
  - changed-files:
      - any-glob-to-any-file: 'github/**/*'

commands:
  - changed-files:
      - any-glob-to-any-file: 'src/main/kotlin/qbtbot/commands/**/*'

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: ['^feature', 'feature']

# Add 'fix' label to any PR where the head branch name starts with `fix` or has a `fix` section in the name
fix:
  - head-branch: ['^fix', 'fix']

# Add 'maintenance' label to any PR where the head branch name
# starts with `chore, maintenance` or has a `fix, maintenance` section in the name
maintenance:
  - head-branch: ['^maintenance', 'maintenance','^chore', 'chore']

# Add 'release' label to any PR that is opened against the `master` branch
release:
  - base-branch: 'master'

- Setup env in actions to use version name in build.gradle.kts for project version - Update labeler settings
  .github/workflows/master.yml
Labels: none

- update set env var
  .github/workflows/master.yml
Labels: none

- Add new action to upload asset to release
  .github/workflows/master.yml
Labels: none

- Fix json parsing for case when reported time is greater than Int limit. Replace them with double.
  src/main/kotlin/qbtbot/App.kt
  src/main/kotlin/qbtbot/model/Torrent.kt
Labels: none

- Add status to torrents command
  src/main/kotlin/qbtbot/App.kt
  src/main/kotlin/qbtbot/commands/TorrentInfo.kt
Labels: commands

- set upSpeed to double
  src/main/kotlin/qbtbot/model/Torrent.kt
Labels: none

- configure renovate
  .idea/misc.xml
  .idea/modules.xml
  .idea/qbt-bot.iml
  renovate.json
Labels: none

- Fix breaking changes from kordex with new version
  src/main/kotlin/qbtbot/App.kt
  src/main/kotlin/qbtbot/commands/TorrentInfo.kt
  src/main/kotlin/qbtbot/util/Extension.kt
  src/main/kotlin/qbtbot/util/Ktor.kt
  src/main/kotlin/qbtbot/util/PresenceManager.kt
Labels: commands

- update renovate config
  renovate.json
Labels: none

- Update kordex.gradle.docker plugin
  .idea/misc.xml
  settings.gradle.kts
Labels: none

- disable depandabot
  .github/dependabot.yml
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

- update repo settings
  .github/settings.yml
  .github/workflows/develop.yml
Labels: none

- Update dependencies
  .idea/kotlinc.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/qbt-bot.iml
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: dependency

- update repo settings
  .github/settings.yml
  .github/workflows/develop.yml
Labels: none

- Update kotlin to 2.20
  .idea/kotlinc.xml
  build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: dependency

Update README.md
  README.md
Labels: none

- Fix torrents command to overcome discord 2000-character limit per message.
  src/main/kotlin/qbtbot/commands/TorrentInfo.kt
Labels: commands

- Dependency updates
  .idea/kotlinc.xml
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: dependency

- Upgrade kordex gradle plugins - Fix breaking changes with new kordex version - Also introduce new dep to generate docs, However that did not work.
  build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
  src/main/kotlin/qbtbot/commands/TorrentInfo.kt
Labels: dependency, commands

- chore: deps upgrade - remove doc-gen lib
  .idea/kotlinc.xml
  .idea/misc.xml
  build.gradle.kts
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  settings.gradle.kts
Labels: dependency

Update kotlin monorepo to 2.1.10
  gradle/libs.versions.toml
Labels: dependency
